body
{
    margin: 0;
    padding: 0;
    background:rgba(10, 19, 33, 0.922);
    justify-content: center;
    align-items: center;
}
h3
{
     text-align: center;
     margin-top: 100px;
     font-family:"Arial Black";
     font-size: 11em;
     line-height: 1em;
     text-transform: uppercase;
     background: url(https://img.freepik.com/free-vector/flat-design-candy-cane-background_23-2149903659.jpg?w=1060&t=st=1702687232~exp=1702687832~hmac=9ac458e80ef006d663cd757f6dae18905ab9c03c816538f039e31f3135d65136);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
h4
{
    display: inline;
    margin-top: 50%;
    margin-left: 30%;
    font-family: 'Mansalva', sans-serif;
    font-size: 9em ;
    line-height: 1em ;
    background: url(https://img.freepik.com/free-vector/flat-design-candy-cane-background_23-2149903659.jpg?w=1060&t=st=1702687232~exp=1702687832~hmac=9ac458e80ef006d663cd757f6dae18905ab9c03c816538f039e31f3135d65136) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tuyet {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    animation: move;
  }
  @keyframes move {
    0% {
        opacity: 0; 
        transform: translateY(0);
        
    }
    10% {
        opacity: 1;
        
    }
    90% {
        opacity: 1;
       
    }
    100% {
        opacity: 0;
        transform: translateY(50vh);
    }
  }